.app-container {
  display: grid;
  grid-template-columns: [book] 50% [favs] 50%;
  grid-template-rows: [title] min-content [search] 50px [recipes] max-content;
}

.router {
  grid-column: 1 /3;
  grid-row: 2/ 3;
  width: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
  margin: 0 auto;
}

.router > a {
  text-decoration: none;
}

.app-title {
  grid-column: 1 / 3;
  text-align: center;
}

.search {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: center;
  width: calc(100vw - 20px);
}

.book {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: calc(100vw - 20px);
}

.recipe {
  grid-column: 2 / 3;
  border: 1px solid blueviolet;
  margin: 10px;
  padding: 10px;
  background-color: rgb(245, 239, 203);
  width: 40%;
  height: 250px;
}

.recipe-body {
  display: flex;
}

.recipe-body > .recipe-img {
  width: 30%;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
}

.favorites {
  grid-column: 1 / 2;
  text-align: center;
}

.fav-header {
  display: flex;
  justify-content: space-between;
}

/* .displayedRecipe {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
} */

.recipe-details {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.buttons {
  display: flex;
  align-items: center;
}

span {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .recipe {
    width: 100%;
  }
}
