.app-container {
  display: grid;
  grid-template-columns: [book] 50% [favs] 50%;
  grid-template-rows: [title] min-content [search] 50px [recipes] max-content;
}

.app-title {
  grid-column: 1 / 3;
  text-align: center;
}

.search {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.book {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.recipe {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.favorites {
  grid-column: 2 / 3;
  grid-row: 3 / 4 ;
  text-align: center;
}
