.app-container {
  display: grid;
  grid-template-columns: [book] 50% [favs] 50%;
  grid-template-rows: [title] min-content [search] 50px [recipes] max-content;
}

.router {
  grid-column: 1 /3;
  grid-row: 2/ 3;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
}

.app-title {
  grid-column: 1 / 3;
  text-align: center;
}

.search {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.book {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.recipe {
  grid-column: 2 / 3;
  border: 1px solid blueviolet;
  margin: 10px;
  background-color: rgb(245, 239, 203);
}

.recipe-header {
  display: flex;
  justify-content: space-between;
}

.favorites {
  grid-column: 1 / 2;
  text-align: center;
}

.fav-header {
  display: flex;
  justify-content: space-between;
}

.displayedRecipe {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.buttons {
  display: flex;
  align-items: center;
}

span {
  margin: 10px;
}
